This is my token: <%= @token %>
<br>
This is my email: <%= @email %>
<br>
<div class="container">
  <div class="row">
    <h3>Clients</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @people.each do |person| %>
            <tr>
            	<td><%= image_tag(person["profile_photo"]["x50"]) if  person["profile_photo"] != nil %></td>
            	<td><%= link_to person["name"], client_path(:id => person["id"]) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      
      <% if @page.to_i < @page_count %>
      <%= link_to "Next Page", url_for(params.merge(:page => @page.to_i+1) ) %>
      <% end %>

      <% if @page.to_i > 1 %>
      <%= link_to "Previous Page", url_for(params.merge(:page => @page.to_i-1) )%>
      <% end %>

    </div>
  </div>
</div>
